# Overview
Now that we have a ledger of transactions we need to see what the insider portfolio was at different times. This is considered a dynamic name discrete space problem. We will unpack the transaction to find out what the insider's portfolio was at all times.

In [1]:
import requests
import pandas as pd
from secret_services import *

In [2]:
pd.read_csv("musk_transactions.csv")

,deemedExecutionDate,issuerName,issuerCik,issuerTradingSymbol,securityTitle,transactionDate,transactionCoding_transactionFormType,transactionCoding_transactionCode,transactionCoding_equitySwapInvolved,transactionCoding_footnoteId_@id,...,transactionAmounts_transactionShares_footnoteId_@id,transactionAmounts_transactionPricePerShare,transactionAmounts_transactionPricePerShare_footnoteId_@id,transactionAmounts_transactionAcquiredDisposedCode,postTransactionAmounts_sharesOwnedFollowingTransaction,ownershipNature_directOrIndirectOwnership,ownershipNature_natureOfOwnership,ownershipNature_natureOfOwnership_footnoteId_@id,postTransactionAmounts_sharesOwnedFollowingTransaction_footnoteId_@id,deemedExecutionDate.1
0,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2021-12-02,4,S,0,F1,...,F2,1090.195,F3,D,1466808,D,NaN,NaN,NaN,NaN
1,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2021-12-02,4,S,0,F1,...,F2,1091.196,F4,D,1442667,D,NaN,NaN,NaN,NaN
2,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2021-12-02,4,S,0,F1,...,F2,1092.247,F5,D,1423132,D,NaN,NaN,NaN,NaN
3,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2021-12-02,4,S,0,F1,...,F2,1093.217,F6,D,1388197,D,NaN,NaN,NaN,NaN
4,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2021-12-02,4,S,0,F1,...,F2,1094.205,F7,D,1365935,D,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2010-07-02,4,C,0,NaN,...,NaN,NaN,F1,A,23322008,I,By trust,NaN,NaN,2010-07-02
661,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2010-07-02,4,C,0,NaN,...,NaN,NaN,F2,A,27022583,I,By trust,NaN,NaN,2010-07-02
662,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2010-07-02,4,X,0,NaN,...,NaN,NaN,F3,A,27136491,I,By trust,NaN,NaN,2010-07-02
663,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2010-07-02,4,F,0,NaN,...,NaN,17.000,NaN,D,27114763,I,By trust,NaN,NaN,2010-07-02
664,NaN,TESLA MOTORS INC,1318605,TSLA,Common Stock,2010-07-02,4,S,0,NaN,...,NaN,17.000,NaN,D,25699596,I,By trust,NaN,NaN,2010-07-02